<template>
  <v-icon color="white" small class="px-1 py-2">
    {{mdiIconName}}
  </v-icon>
</template>

<script lang="ts">

import {Prop,Vue,Component} from 'vue-property-decorator'
@Component
export default class App extends Vue {
  @Prop()
  mdiIconName !: string;
}
</script>
<style>

</style>