<template>
 <div>
   <div class="teams">
     <v-card v-for="team in teams" :key="team.id"
             class="team mb-5"
             outlined flat dark>
        <v-card-title
            class="white--text font-weight-regular pb-0"
            style="font-size: 0.9rem"
        >
          {{team.resourceType}}
        </v-card-title>
        <v-card-text class="py-0 mb-5">
         <v-checkbox
             class="py-0 text-button"
             dense
             dark
             label="All"
         ></v-checkbox>
          <v-row>
            <v-col cols="6" class="d-flex flex-column justify-center align-start">
              <TeamAuth auth-type="Create lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Edit lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Delete lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Download lorem ipsum"></TeamAuth>
            </v-col>
            <v-col cols="6" class="d-flex flex-column justify-center align-start">
              <TeamAuth auth-type="Create lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Edit lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Delete lorem ipsum"></TeamAuth>
              <TeamAuth auth-type="Download lorem ipsum"></TeamAuth>
            </v-col>
          </v-row>
        </v-card-text>
     </v-card>
   </div>
 </div>
</template>

<script lang="ts">

import {Vue,Component} from 'vue-property-decorator'
import TeamAuth from "@/components/TeamCard/TeamAuth.vue";
import _ from "lodash";
import {TeamFormat} from "@/store/Type";
import TeamState = TeamFormat.TeamState;
@Component(
    {
      components: {TeamAuth},
    }
)

export default class Teams extends Vue {

  seperatedTeamsByType = _.groupBy(this.teams ,"resourceType");
  selected = [];
  get teams() : TeamState {
        return this.$store.getters['teams/teams']
    // return _.groupBy(this.$store.getters['teams/teams'], "resourceType")
  }

  async getTeams (){
    await this.$store.dispatch('teams/getTeams')
  }

  selectAll = {
    get (){
      return this.teams
    }
  }

  mounted(){
      this.getTeams()
  }

}
</script>
<style>
/*change all text field label sizes*/
.v-label{
  font-size: 10px!important;
  letter-spacing: .05rem!important;
}
</style>