<template>
  <v-checkbox
  dark
  dense
  hide-details
  :label="authType"
  style="word-spacing: .09rem"
  class="mt-0 pt-0"
  ></v-checkbox>
</template>

<script lang="ts">

import {Prop,Vue,Component} from 'vue-property-decorator'
@Component
export default class TeamAuth extends Vue {
  @Prop()
  authType !: string;
}
</script>
<style>

</style>