<template>
  <v-app-bar
      app
      color="secondary"
      flat
      class="d-flex align-end ma-n1"
      style="height: 70px;"
  >

      <div class="d-flex flex-row justify-space-between px-3" style="width: 100%">
        <div>
          <v-select
              flat
              dark
              small-chips
              label="My Vancouver Office"
              class="text--white px-1 pt-4"
          >
          </v-select>
        </div>
        <div class="d-flex flex-row">
          <custom-icon mdi-icon-name="mdi-download-outline"></custom-icon>
          <custom-icon mdi-icon-name="mdi-calendar-month"></custom-icon>
          <custom-icon mdi-icon-name="mdi-bell-outline"></custom-icon>
          <div class="px-3 mt-5">
            <span class="white--text" style="font-size: 0.6rem">
              EN
            </span>
            <v-icon x-small color="white">
              mdi-chevron-down
            </v-icon>
          </div>
        </div>
      </div>
  </v-app-bar>
</template>

<script lang="ts">

import {Vue,Component} from 'vue-property-decorator'
import CustomIcon from "@/components/CustomizedElements/CustomIcon.vue";
@Component({
  components: {CustomIcon}
})

export default class Appbar extends Vue {
}
</script>

<style>

</style>