<template>
  <div>
    <team-page-title/>
    <v-row>
      <v-col cols="12" sm="6">
        <v-row>
          <v-col cols="12" sm="4">
              <v-text-field
                  label="Team Label"
                  required
                  value="FRONT MANAGERS"
                  class="text-uppercase input-group--focused text--white"
                  dark
              ></v-text-field>
              <v-text-field
                label="Team Description"
                class="input-group--focused"
                dark
              ></v-text-field>
<!--            ref="address"-->
<!--            v-model="address"-->
<!--            :rules="[-->
<!--            () => !!address || 'This field is required',-->
<!--            () => !!address && address.length <= 150 || 'Address must be less than 150 characters',-->
<!--            addressCheck-->
<!--            ]"-->
<!--            counter="150"-->
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="6">
        <NewTeam/>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">

import {Vue,Component} from 'vue-property-decorator'
import TeamPageTitle from "@/components/base/TeamPageTitle.vue";
import NewTeam from "@/components/TeamCard/Teams.vue";
@Component({
  components: {NewTeam, TeamPageTitle}
})
export default class MainContent extends Vue {

}
</script>
<style>

</style>