<template>
    <v-navigation-drawer
        app
        width="4rem"
        permanent
        class="secondary"
    >
    <div class="d-flex flex-column justify-space-between" style="height: 99vh">
      <v-app-bar-nav-icon class="ml-3 my-6">
        <v-icon color="primary">
          mdi-arch
        </v-icon>
      </v-app-bar-nav-icon>
      <div style="height: 65vh">
        <div class="navigation-menu d-flex flex-column">
          <custom-icon mdi-icon-name="mdi-arrow-right-drop-circle-outline"></custom-icon>
          <custom-icon mdi-icon-name="mdi-video-outline"></custom-icon>
          <custom-icon mdi-icon-name="mdi-headset"></custom-icon>
          <custom-icon mdi-icon-name="mdi-fingerprint"></custom-icon>
          <custom-icon mdi-icon-name="mdi-car-turbocharger"></custom-icon>
        </div>
      </div>
    </div>
    </v-navigation-drawer>
</template>

<script>

import {Vue,Component} from 'vue-property-decorator'
import CustomIcon from "@/components/CustomizedElements/CustomIcon";
@Component({
  components: {CustomIcon}
})
export default class NavigationDrawer extends Vue {
}
</script>
