<template>
  <div>
    <h6 class="white--text py-1 mb-2 text-uppercase font-weight-medium"
        style="letter-spacing: 0.06rem">New Team</h6>
    <p class="white--text font-weight-thin text-wrap"
       style="font-size: 0.5rem; letter-spacing: 0.05rem; ">
      By defining permission for your teams, you can easily manage your users permission level.
    </p>
  </div>
</template>

<script lang="ts">

import {Vue,Component} from 'vue-property-decorator'
@Component
export default class TeamPageTitle extends Vue {

}
</script>
<style>

</style>