<template>
    <v-app class="ma-3">
      <navigation-drawer/>
      <Appbar/>
      <v-main app >
          <v-row class="d-flex justify-start secondary pt-10" style="width: 101%">
            <v-col cols="1"  class="d-flex flex-row justify-center align-start pr-0">
              <v-btn class="ml-4" x-small color="secondary" elevation="0">
                <v-icon x-small color="white">
                  mdi-keyboard-backspace
                </v-icon>
              </v-btn>
            </v-col>
            <v-col cols="11">
              <MainContent/>
            </v-col>
          </v-row>
      </v-main>
    </v-app>
</template>

<script lang="ts">
import {Component,Vue} from 'vue-property-decorator';
import Appbar from "@/components/base/Appbar.vue";
import NavigationDrawer from "@/components/base/NavigationDrawer.vue";
import MainContent from "@/components/base/MainContent.vue";

@Component({
  components: {MainContent, NavigationDrawer, Appbar}
})
export default class App extends Vue {

}
</script>

<style>

</style>
